<p class="sign_up">当サイトはサブスクリプションサイトの登録状況を一括で管理できるサイトです。<br>
増え続けるサブスクリプションサイトに登録していると、無料期間の解約日を忘れたり、どれに契約しているのかわからなくなることもあると思います。<br>
そこで、私自身があったら便利だろうなと思うサイトを作成しました。<br>
なるべくシンプルに使いやすいサイトを目標に作成しています。</p>

<h2 class="bg-primary text-white p-2">できること</h2>

<h3 class="border-bottom p-2">サービスの登録</h3>
<p>現在利用しているサービスを簡単に登録することができます。サービス一覧ページから契約しているサービスの"+"ボタンを押します。
</p>
<h3 class="border-bottom p-2">合計金額の計算</h3>
<p>利用しているサービスが毎月どれくらいの金額になっているか把握していない人も多いと思います。<br>
当サイトでは、登録したサービスの合計金額を自動で表示することができます。</p>
<h3 class="border-bottom p-2">契約日の登録</h3>
<p>契約日を登録していくことで、無料期間の終わりや契約更新日を知ることができま。<br>
無料期間を忘れない為にも有効です。</p>
<h3 class="border-bottom p-2">更新期間の登録</h3>
<p>更新期間を登録することができます。通常は１ヶ月が多いと思いますが、1年契約などもあるので、自由に数字を変えることができるようになっています。
</p>
<h3 class="border-bottom p-2">無料・有料の登録</h3>
<p>現在が有料期間か無料期間かを登録することができます。</p>
<h3 class="border-bottom p-2">メモ</h3>
<p>自由にメモができます。</p>

<h2 class="bg-primary text-white p-2">紹介動画</h2>

<div class="border mx-auto" style="max-width: 700px;">
  <%= video_tag('/videos/subscript.mov',controls: true,:loop => true, class: 'embed-responsive embed-responsive-16by9 mb-3') %>
</div>

<h2 class="bg-primary text-white p-2 mt-2 mb-2">新規登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "E-mail",class: "form-control"  %>
  </div>

  <div class="field form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上（必須）)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password",class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "password-2",class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "登録" ,class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
