<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @d_tv.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @d_tv.date %>
</p>

<p>
  <strong>Update period:</strong>
  <%= @d_tv.update_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @d_tv.status %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @d_tv.memo %>
</p>

<p>
  <strong>User:</strong>
  <%= @d_tv.user_id %>
</p>

<%= link_to 'Edit', edit_d_tv_path(@d_tv) %> |
<%= link_to 'Back', d_tvs_path %>
