<%= form_with(model: amazon, local: true) do |form| %> <% if amazon.errors.any?
%>
<div id="error_explanation">
  <h2>
    <%= pluralize(amazon.errors.count, "error") %> prohibited this amazon from
    being saved:
  </h2>

  <ul>
    <% amazon.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <div class="field">
   <%= form.number_field :price ,placeholder: "価格を入力してください。" ,required: true ,class: "form-control"
    %>
  </div>
</div>

<div class="actions"><%= form.submit "登録する", class: "btn btn-primary" %> <% end %></div>
