<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @you_tube_premium.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @you_tube_premium.date %>
</p>

<p>
  <strong>Update period:</strong>
  <%= @you_tube_premium.update_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @you_tube_premium.status %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @you_tube_premium.memo %>
</p>

<p>
  <strong>User:</strong>
  <%= @you_tube_premium.user_id %>
</p>

<%= link_to 'Edit', edit_you_tube_premium_path(@you_tube_premium) %> |
<%= link_to 'Back', you_tube_premia_path %>
