<h1>利用サービス一覧</h1>

<% @amazon_prime.each do | prime |%>
<% if current_user.id == prime.user_id %>
<ul class="list-group list-group-flush">
	<li class="list-group-item item">AmazoncPrime:
		<%= prime.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @amazon_music.each do | music |%>
	<% if current_user.id == music.user_id %>
	<li class="list-group-item item">AmazonMusic:
		<%= music.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @amazon_kindle.each do | kindle |%>
	<% if current_user.id == kindle.user_id %>
	<li class="list-group-item item">AmazonKindle:
		<%= kindle.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @google_play.each do | play |%>
	<% if current_user.id == play.user_id %>
	<li class="list-group-item item">GooglePlay:
		<%= play.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @hulu.each do | hulu |%>
	<% if current_user.id == hulu.user_id %>
	<li class="list-group-item item">Hulu:
		<%= hulu.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @playstation.each do | pleste |%>
	<% if current_user.id == pleste.user_id %>
	<li class="list-group-item item">PlayStationNetwork:
		<%= play_station.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @spotify.each do | spotify |%>
	<% if current_user.id == spotify.user_id %>
	<li class="list-group-item item">Spotify:
		<%= spotify.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

	<% @unext.each do | unext |%>
	<% if current_user.id == unext.user_id %>
	<li class="list-group-item item">U-NEXT:
		<%= unext.price.to_s(:delimited) %>円</li>
	<% end %>
	<% end %>

</ul>


<div class="total-cost">合計金額:
	<%= @total.to_s(:delimited) %>円</div>