<h1>サービスを選ぶ</h1>
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<p class="item">
			AmazonPrime:
			<% if @amazon_primes.empty? %>
			<%= link_to new_amazon_prime_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @amazon_primes.find_by(user_id: current_user.id) %>
			<%= link_to amazon_prime_path(@prime_user), method: :delete, class: "button" do %>
			<i class="fa fa-minus"></i>
			<% end %>
			<%else %>
			<%= link_to new_amazon_prime_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end%>
		</p>
	</li>
	<li class="list-group-item">
		<p class="item">
			AmazonMusic:
			<% if @amazon_musics.empty? %>
			<%= link_to new_amazon_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @amazon_musics.find_by(user_id: current_user.id) %>
			<%= link_to amazon_music_path(@music_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<%else %>
			<%= link_to new_amazon_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end%>
		</p>
	</li>
	<li class="list-group-item">
		<p class="item">
			Amazonkindle:
			<% if @amazon_kindles.empty? %>
			<%= link_to new_amazon_kindle_unlimited_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @amazon_kindles.find_by(user_id: current_user.id)%>
			<%= link_to amazon_kindle_unlimited_path(@kindle_user), method: :delete, class:"button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else %>
			<%= link_to new_amazon_kindle_unlimited_path ,class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>
	<li class="list-group-item">
		<p class="item">
			AppleMusic:
			<% if @apple_musics.empty? %>
			<%= link_to new_apple_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @apple_musics.find_by(user_id: current_user.id)%>
			<%= link_to apple_music_path(@apple_music_user), method: :delete, class:"button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else %>
			<%= link_to new_apple_music_path ,class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			Dtv:
			<% if @dtv.empty? %>
			<%= link_to new_d_tv_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @dtv.find_by(user_id: current_user.id)%>
			<%= link_to d_tv_path(@dtv_user), method: :delete, class:"button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else %>
			<%= link_to new_d_tv_path ,class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			FOD:
			<% if @fod.empty? %>
			<%= link_to new_fod_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @fod.find_by(user_id: current_user.id)%>
			<%= link_to fod_path(@fod_user), method: :delete, class:"button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else %>
			<%= link_to new_fod_path ,class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			GooglePlay:
			<% if @google_plays.empty? %>
			<%= link_to new_google_play_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif@google_plays.find_by(user_id: current_user.id)%>
			<%= link_to google_play_music_path(@play_user), method: :delete, class: "button" do %>
			<i class="fa fa-minus"></i>
			<% end %>
			<%else %>
			<%= link_to new_google_play_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<%end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			Hulu:
			<% if @hulus.empty? %>
			<%= link_to new_hulu_path , class:"button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @hulus.find_by(user_id: current_user.id)%>
			<%= link_to hulu_path(@hulu_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else%>
			<%= link_to new_hulu_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			LineMusic:
			<% if @line_music.empty? %>
			<%= link_to new_line_music_path , class:"button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @line_music.find_by(user_id: current_user.id)%>
			<%=link_to line_musics_path(@line_music_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else%>
			<%= link_to new_line_music_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			Netflix:
			<% if @netflix.empty? %>
			<%= link_to new_netflix_path , class:"button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @netflix.find_by(user_id: current_user.id)%>
			<%=link_to netflix_path(@netflix_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else%>
			<%= link_to new_netflix_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			Spotify:
			<% if @spotifies.empty? %>
			<%= link_to new_spotify_path ,class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @spotifies.find_by(user_id: current_user.id)%>
			<%= link_to  spotify_path(@spotify_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<% else %>
			<%= link_to new_spotify_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			U-NEXT:
			<% if @unexts.empty? %>
			<%= link_to new_unext_path , class:"button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @unexts.find_by(user_id: current_user.id)%>
			<%=link_to  unext_path(@unext_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<%else %>
			<%= link_to new_unext_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>

	<li class="list-group-item">
		<p class="item">
			YouTubePremium:
			<% if @you_tube_premiums.empty? %>
			<%= link_to new_you_tube_premium_path , class:"button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% elsif @you_tube_premiums.find_by(user_id: current_user.id)%>
			<%=link_to  you_tube_premium_path(@you_tube_premium_user), method: :delete, class: "button" do%>
			<i class="fa fa-minus"></i>
			<% end %>
			<%else %>
			<%= link_to new_you_tube_premium_path , class: "button" do%>
			<i class="fa fa-plus"></i>
			<% end %>
			<% end %>
		</p>
	</li>
</ul>