<p id="notice"><%= notice %></p>

<h1>Apple Musics</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Date</th>
      <th>Update period</th>
      <th>Status</th>
      <th>Memo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apple_musics.each do |apple_music| %>
      <tr>
        <td><%= apple_music.price %></td>
        <td><%= apple_music.date %></td>
        <td><%= apple_music.update_period %></td>
        <td><%= apple_music.status %></td>
        <td><%= apple_music.memo %></td>
        <td><%= apple_music.user_id %></td>
        <td><%= link_to 'Show', apple_music %></td>
        <td><%= link_to 'Edit', edit_apple_music_path(apple_music) %></td>
        <td><%= link_to 'Destroy', apple_music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apple Music', new_apple_music_path %>
