<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @apple_music.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @apple_music.date %>
</p>

<p>
  <strong>Update period:</strong>
  <%= @apple_music.update_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apple_music.status %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @apple_music.memo %>
</p>

<p>
  <strong>User:</strong>
  <%= @apple_music.user_id %>
</p>

<%= link_to 'Edit', edit_apple_music_path(@apple_music) %> |
<%= link_to 'Back', apple_musics_path %>
