<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @d_anime_store.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @d_anime_store.date %>
</p>

<p>
  <strong>Update period:</strong>
  <%= @d_anime_store.update_period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @d_anime_store.status %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @d_anime_store.memo %>
</p>

<p>
  <strong>User:</strong>
  <%= @d_anime_store.user_id %>
</p>

<%= link_to 'Edit', edit_d_anime_store_path(@d_anime_store) %> |
<%= link_to 'Back', d_anime_stores_path %>
