<%= form_with(model: service, local: true) do |form| %> 
  <div class="field form-group">
    <%= form.number_field :price ,placeholder: '価格を入力してください' ,required: true ,class: "form-control"%>
  </div>

  <div class="field form-group">
    <p class="issue_date">契約日: <%= form.date_select :issue_date , :use_month_numbers=>true %></p>
  </div>

  <div class="field form-group">
    <%= form.number_field :update_period ,placeholder: '更新期間を入力してください' ,class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.text_field :status ,placeholder: '無料期間ですか？有料期間ですか？' ,class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.text_area :memo ,placeholder: 'メモ欄' ,class: "form-control" ,rows:"3"%>
  </div>

  <div class="actions form-group">
    <%= form.submit '登録する', class: "btn btn-primary" %>
  </div>
  <% end %>