<ul class="list-group">
	<li class="list-group-item"><strong>Name:</strong>name</li>
	<li class="list-group-item"><strong>Price:</strong><%= url.price %></li>
	<li class="list-group-item"><strong>Issue date:</strong><%= url.issue_date %></li>
	<li class="list-group-item"><strong>Update period:</strong><%= url.update_period %></li>
	<li class="list-group-item"><strong>Status:</strong><%= url.status %></li>
	<li class="list-group-item">  <strong>Memo:</strong><%= url.memo %>
	</li>
  </ul>
  
  
  